@use "sass:math";

/* stylelint-disable */
@import "../../../../toolkit/vkwp/scss/variables";
@import "../../../../toolkit/vkwp/scss/mixins";
/* stylelint-enable */

@function remy($pxsize, $rembase:16) {
  @return math.div($pxsize,$rembase) * 1rem;
}

@mixin paint-svg($color) {
  rect,
  ellipse,
  circle,
  path {
    fill: $color;
  }
}

/**
 * app container and second app configs
 */

@mixin main-app-container() {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

@mixin second-app-container-shared-config() {
  @include main-app-container;
}

@mixin main-app-element-controller( $transition-config: "" ) {
  $transition_value: opacity .2s;

  @if ( $transition-config ) {
    $transition_value: #{$transition_value}, #{$transition-config};
  }

  opacity: 1;
  transition: $transition_value;

  .--run-on-bg & {
    opacity: 0;
  }

  .--run-on-bg-finish & {
    display: none;
  }
}
