.footer-nav {
  @include main-app-element-controller;

  @include mobile {
    flex-grow: 1;
  }

  @include not-mobile {
    padding: 50px 20px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;

    @include mobile {
      text-align: center;
    }
  }

  li {
    line-height: 1.5;

    @include mobile {
      width: 100%;
      margin-bottom: 5px;
    }

    @include not-mobile {
      display: flex;
    }

    & + li {
      @include not-mobile {
        margin-left: 1ch;
      }

      &:before {
        @include not-mobile {
          margin-right: 1ch;
          content: "|";
          opacity: .5;
        }
      }
    }
  }

  a {
    @at-root %footer-links-hover-focus {
      @include not-mobile {
        border-bottom-color: $css--theme-color-alternate;
        background-color: $css--theme-color-alternate;
        color: $css--theme-site-bg;
      }
    }

    &:focus {
      @extend %footer-links-hover-focus;
    }

    &:hover {
      @extend %footer-links-hover-focus;

      &:not(:focus) {
        .--context-menu-open & {
          @include not-mobile {
            border-bottom-color: inherit;
            background-color: inherit;
            color: $css--theme-color-alternate;
          }
        }
      }
    }
  }
}
