#main-app {
  display: flex;
  overflow: hidden;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  flex-direction: column;
}

h1 {
  font-size: remy(18);
  text-transform: uppercase;
}

@at-root {
  %prevent-doubletap-zoom {
    touch-action: manipulation;
  }
}

a {
  @extend %prevent-doubletap-zoom;

  border-bottom: 1px solid currentColor;
  text-decoration: none;
}

button {
  @extend %prevent-doubletap-zoom;
}

[role="button"] {
  @extend %prevent-doubletap-zoom;
}

#hero {
  @include main-app-container;
  @include main-app-element-controller;

  flex-direction: column;
  justify-content: flex-end;

  @include not-mobile {
    justify-content: center;
  }

  p,
  h1 {
    margin: 0 0 10px 0;
  }
}
