@import "./scss/toolkit";

$mobile-resolution: 900;

// temp - start

html,
aside:after {
  background-color: #000;
}

body,
#footer-notes {
  display: none;
}

// temp - end

@import
  "./scss/first-paint/content-elements",
  "./scss/first-paint/footer";
