$css--theme-plain-text: var(--theme-plain-text);
$css--theme-site-bg: var(--theme-site-bg);
$css--theme-html-element: var(--theme-html-element);
$css--theme-html-equalsign: var(--theme-html-equalsign);
$css--theme-html-attribute: var(--theme-html-attribute);
$css--theme-html-brackets: var(--theme-html-brackets);
$css--theme-html-key: var(--theme-html-key);
$css--theme-html-aspas: var(--theme-html-aspas);
$css--theme-html-comment: var(--theme-html-comment);
$css--theme-html-comment-markup: var(--theme-html-comment-markup);
$css--theme-color-alternate: var(--theme-color-alternate);
